<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datagirdview_Sql.Properties.Settings.DemoDB_WinformConnectionString"
            connectionString="Data Source=LAPTOP-6EA8ABAQ\SQLEXPRESS;Initial Catalog=DemoDB_Winform;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>